<div class="city container">

    <div class="page-header">
        <h1>City : {{city.name}}</h1>
    </div>





    <form>
        <div class="form-group search">
            <div class="input-group input-group-lg">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-keyup="$ctrl.onKeyupSearch($event)" ng-model="table.searchFish">
            </div>
        </div>
    </form>


    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Showing {{totalPersons.length}} of  {{city.persons.length}}</li>
    </ol>

    <table class="table table-bordered table-striped dataTable">
        <thead>
        <tr>
            <th ng-repeat="tableHeader in table.headers" class="{{tableHeader.class}} {{tableHeader.extraClass}}" ng-click="$ctrl.changeSort(tableHeader)"> {{tableHeader.text}}</th>
        </tr>
        </thead>

        <tbody infinite-scroll="$ctrl.infiniteScroll()"  infinite-scroll-distance="3">

        <tr ng-repeat="person in totalPersons = (city.persons | search:table.searchFish:['name', 'age', 'hair_color', 'weight', 'height', {name: 'friends'}, {name: 'professions'}]) | orderBy:table.sortType:table.sortReverse | limitTo:limitToElements">
                <td>
                    <div class="avatar img-circle" afkl-lazy-image="{{person.thumbnail}}" class="demo-background-image"
                         afkl-lazy-image-options='{"background": true}'>
                    </div>
                </td>
                <td>{{ person.name }}</td>
                <td class="hidden-xs">{{ person.age }}</td>
                <td class="hidden-xs">{{ person.hair_color }}</td>
                <td class="hidden-xs">{{ person.weight }}</td>
                <td class="hidden-xs">{{ person.height }}</td>
                <td class="hidden-xs">
                    <ul class="list-unstyled">
                        <li ng-repeat="friend in person.friends">
                            {{friend}}
                        </li>
                    </ul>
                </td>
                <td class="hidden-xs">
                    <ul class="list-unstyled">
                        <li ng-repeat="profession in person.professions">
                            {{profession}}
                        </li>
                    </ul>
                </td>
            </tr>
        <tr ng-if="totalPersons.length == 0">
            <td colspan="8" class="text-center">Any result</td>
        </tr>
        </tbody>



    </table>

</div>



